.error-page{
    width: 100%;
}

.error-page .error-message {
    height: 100px;
    line-height: 100px;
    margin-left: 50px;
}

.error-page .back-toppage { 
    margin-left: 50px;
    cursor: pointer;
}

.error-page .back-toppage:hover {
    text-decoration: underline;
}