:root{
    --logincolor: #97cdf3;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #fff, #eee);
}

.header .header-area {
    width: 1400px;
    margin: 0 auto;
    align-items: flex-end;
    overflow: hidden;
}

.header .header-area .area-1 .title {
    width: 500px;
    height: 100%;
    margin: 0;
    font-size: 40pt;
    font-family: "Zen Kurenaido", sans-serif;
}

.header .header-area .area-1 .title a {
    text-decoration: none;
    color: black;
}

.header .header-area .header-nav {
    width: 1100px;
    height: 50px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-area .header-nav ul {
    margin: 0 0 0 10px;
    padding: 0;
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.header .header-area .header-nav ul li {

}

.header .header-area .header-nav ul li a {
    text-decoration: none;
    color: black;
}

.header .header-area .header-nav ul li .acount {
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .header-area .header-nav ul li .acount .img-area {
    height: 40px;
    width: 40px;
    border: 1px solid #aaa; 
    border-radius: 100%;
}

.header .header-area .header-nav ul li .acount .img-area .plofile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.header .header-area .header-nav ul li .acount .user-info {
    font-size: 18px;
}

.header .header-area .header-nav .log-on {
    display: flex;
    gap: 20px;
}

.header .header-area .header-nav .sign {
    height: 40px;
    width: 100px;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #ddd;
    background-color: #d4e9f8;
    transition-duration: 0.2s;
}

.header .header-area .header-nav .sign:hover{
    background-color: var(--logincolor);
    font-weight: bolder;
}

.header .header-area .header-nav .search-bar {
    width: 300px;
    height: 100%;
    margin-right: 10px;
}