:root{
    --logincolor: #97cdf3;
}

.header {
    width: 100%;
}

.header .header-area {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.header .header-area .title {
    margin: 20px 0;
    font-size: 32pt;
    font-family: "Zen Kurenaido", sans-serif;
}

.header .header-area .title a {
    text-decoration: none;
    color: black;
}

.header .header-area .header-nav {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.header .header-area .header-nav ul {
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    list-style: none;
    cursor: pointer;
}

.header .header-area .header-nav ul li {
    width: 80px;
}

.header .header-area .header-nav ul li a {
    text-decoration: none;
    color: black;
}

.header .header-area .header-nav .log-on {
    display: flex;
    gap: 20px;
}

.header .header-area .header-nav .sign {
    height: 40px;
    width: 100px;
    margin-bottom: 5px;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #ddd;
    background-color: #d4e9f8;
    transition-duration: 0.2s;
}

.header .header-area .header-nav .sign:hover{
    background-color: var(--logincolor);
    font-weight: bolder;
}

.header .header-area .acount {
    height: 100%;
    width: 300px;
    margin: 0 50px 0 0;
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.header .header-area .acount .img-area {
    height: 70px;
    width: 70px;
    border: 1px solid #aaa; 
    border-radius: 100%;
}

.header .header-area .acount .img-area .plofile-img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.header .header-area .acount .user-info {
    margin-bottom: 10px;
    font-size: 18px;
}