.mypage{
    width: 1000px;
    margin-inline: auto;
}

.mypage .mydata{
    margin: 50px 0;
}

.mypage .mydata .user-header{
    width: 800px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mypage .mydata .user-header .plofile-img{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    border: 1px solid #aaa;
    border-radius: 100%;
    overflow: hidden;
}

.mypage .mydata .user-header .plofile-img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.mypage .mydata .user-header .user-info {
    margin-right: 150px;
}

.mypage .mydata .user-header .user-info .useremail {
    margin-bottom: 20px;
}

.mypage .mydata .user-header .user-info .useremail label {
    margin-bottom: 5px;
}

.mypage .mydata .user-header .user-info .useremail p {
    margin: 0;
    font-size: 14pt;
    font-weight: bold;
}

.mypage .mydata .user-header .user-info .username label {
    margin-bottom: 5px;
}

.mypage .mydata .user-header .user-info .username p {
    margin: 0;
    font-size: 16pt;
    font-weight: bold;
}

.mypost {
    width: 600px;
    margin: 20px auto;
}

.mypost .select{
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.mypost .select .select-btn {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    opacity: 0.3;
    border: 1px solid #666;
    border-radius: 3px 3px 0 0;
}

.mypost .select .selected {
    background-color: #fff;
    opacity: 1;
    border: 1px solid #666;
    border-bottom: none;
}

.mypost .select .select-btn div {
    height: 30px;
    font-size: 22px;
    font-weight: bold;

}

.mypost .mypost-display {
    width: 598px;
    min-height: 200px;
    border: 1px solid #666;
    border-top: none;
    border-radius: 0 0 3px 3px;
}

