.pagetitle {
    width: 100%;
    height: 50px;
    margin: 0 0 20px 50px;
}

.pagetitle  .title {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
}

.pagetitle  .title h2 {
    margin: 0;
}